<%
=begin%>
 <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th> </th>
      </tr>
    </thead>
<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends">

  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show this friend", friend %>
    </p>
  <% end %>
</div>

<%= link_to "New friend", new_friend_path %>
  </table> 
<%
=end%>

 <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>Show this friend</th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each do |friend| %>
          <td><%= friend.first_name + ''+ friend.last_name %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>      
          <td><%= link_to "Show this friend", friend %></td>    
        </tr>  
      <% end %>
    </tbody>
  </table>